
body{

	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: darkorchid;
}


/*styles for our form*/

.form-container {

	background-color: white;
	width: 80%;
	border-radius: 10px;
	overflow: hidden;
	height: 97%;
	display: flex;
	align-items: center;


}

/*adjusting the size of our login element*/

.form-container .login-container {

	width: 500px;
	margin: 0 auto;
}

/*we give a size to our title*/

.form-container .login-container > h2 {

	text-align: center;
	font-size: 2.5rem;


}

/*we align our paragraphs and texts that are inside our form*/

.form-container .login-container > p,
.form-container .login-container > span {

	text-align: center;
	color: #555;

}

/*We place our block-type labels so that the inputs go down and can be seen much better*/

.form-container .login-container  label{

	display: block;
	font-weight: bold;
	padding: 5px 0;
}

/*We give a nicer look to our inputs that are shown in the form*/

.form-container .login-container input.input{

	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border:solid 1px #ccc;
	border-radius: 5px;


}


/*we add a color outside of our inputs giving it a more chromatic border*/

.form-container .login-container input.input:focus{

	outline: solid 2px #0099ff;
}

/*We add a space between the check and the option to forget your password, centering the elements inside the container*/

.form-container .login-container .options {

	display: flex;
	justify-content: space-between;
	align-items: center;

}


/*We remove the decoration text effect and add a more attractive color*/


.form-container a{

	color: #0099ff;
	text-decoration: none;


}


/*we add an underline effect to our link on hover*/

.form-container a:hover{

	text-decoration: underline;


}

/*We add a style to our buttons that contrasts with our 
design since it is a basic form and a better experience for the end user is needed.*/

.btn {

	border:none;
	padding: 15px 0;
	width: 100%;
	font-weight: bolder;
	display: block;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}


/*In this section we add a different and representative color for each type
 of login in different companies, Facebook, Twitter, Google*/

.btn.btn-login{

	background-color: black;
	color: white;
}

.btn.btn-login:hover{

	background-color: #333;
}

.btn.btn-facebook{

	background-color: rgb(10, 82, 216);

	color:white;
}

.btn.btn-facebook:hover{

	background-color: rgb(8, 69, 182);
}


.btn.btn-google{

	background-color: white;

	color:#000;
	border:solid 1px #ccc;
}

.btn.btn-google:hover{

	background-color: rgb(240, 240, 240);
}

.btn.btn-twitter{

	background-color: rgb(10, 168, 216);
	color: white;
}


.btn.btn-twitter:hover{
	background-color: rgb(10,265,215);
	
}



/*added styling and spacing on each of the buttons*/


.form-container .login-container .providers {

	display: flex;
	flex-direction: column;
	gap: 2px;
	text-align: center;
	margin-top: 30px;
}

/*We also added a design to our welcome section*/

.form-container .welcome-screen-container{
	background-color: #000;
	width: 50%;
	height: 100%;
}

/*and we culminate with the responsive design giving it a better effect on the resolution*/

@media screen and (max-width: 1357px){

	.form-container{

		width: 95%;
	}

	.form-container .login-container{

		width: 400px;
		margin: 0 auto;
	}

	.form-container .welcome-screen-container{

		width: 40%;
	}
}

@media screen and (max-width: 900px){

	.form-container {

		height: 90%;

	}
	.form-container .login-container{

		width: 350px;
	}
	
	.form-container .welcome-screen-container{

		width: 0;

	}

}